/*3333213123331321*/
.ensure{
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #d6d6d6;
    background: #f8f8f8;
    .ensurecont{
        width: 1190px;
        height: 108px;
        margin:0 auto;
        dl{
            width:166px;
            height:45px;
            padding-top:33px;
            margin-right: 30px;
            float: left;
             dd:nth-of-type(1){
                 font-size: 16px;
                 color: #313131;
                 padding-bottom: 2px;
           }
            dt{
               float:left;
                width: 55px;
                height: 40px;
               background: url(../images/icon1.png )no-repeat  0 -37px  ;
              
            dd{
                float:left;  
             }
             
           }
         
        }
        dl:nth-of-type(2) dt{
            background: url(../images/icon1.png )no-repeat  -57px -37px  ;
        }
        dl:nth-of-type(3) dt{
            background: url(../images/icon1.png )no-repeat  -125px -37px  ;
        }
         dl:nth-of-type(4) dt{
            background: url(../images/icon1.png )no-repeat  -181px -37px  ;
        }
        dl:nth-of-type(5) dt{
            background: url(../images/icon1.png )no-repeat  -241px -37px  ;
        }
        dl:nth-of-type(6) dt{
            background: url(../images/icon1.png )no-repeat  -301px -37px  ;
        }
    }
}
/*...................footer...........*/
.footer{
    width:100%;
    min-height: 230px;
    _height:230px;
    .footernav{
        width:1190px;
        min-height:240px;
        background:#f3f3f3;
        margin: 0 auto;
        dl{
            width:120px;
            height:180px;
         
            float: left;
            margin-top: 20px;
            dd{
                width: 100px;
                height: 40px;
            }
            dd:nth-of-type(1){
                width: 110px;
                height: 40px;                
                background: url(../images/icon1.png )no-repeat  0 -92px  ;
            }
             dd:nth-of-type(2){
       
                background: url(../images/icon1.png )no-repeat  -111px -92px  ;
            }
             dd:nth-of-type(3){
                background: url(../images/icon1.png )no-repeat  -246px -92px  ;
            }
        }
        .rightnav{
            width:1050px;
            height:180px;
           
            padding-top:20px;
            margin-left: 20px;
            float: left;
            ul{  
                li{
                    font-size: 12px;
                    height:30px;
                    line-height: 30px;
                    margin:0 30px;
                    a{
                        color:#666;
                    }
                }
            }
            ul:nth-of-type(1){
                
                float:left;
                li:nth-of-type(1){
                    font-size:15px;
                    font-weight:600;
                    
                   
                }
            }
             ul:nth-of-type(2){
                float:left;
                li:nth-of-type(1){
                    font-size:15px;
                    font-weight:600;
                }
            }
             ul:nth-of-type(3){
                float:left;
                li:nth-of-type(1){
                    font-size:15px;
                    font-weight:600;
                }
            }
             ul:nth-of-type(4){
                float:left;
                li:nth-of-type(1){
                    font-size:15px;
                    font-weight:600;
                }
            }
             ul:nth-of-type(5){
                float:left;
                li:nth-of-type(1){
                    font-size:16px;
                    font-weight:600;
                }
            }
            ul:nth-of-type(6){
                float:left;
                height:100px;
                li:nth-of-type(1){
                    font-size:15px;
                    font-weight:600;
                   
                   a{
                       margin-left:8px;
                   }
                }
            }
            ul:nth-of-type(7){
                float:left;
                width:100px;
                height:100px;
               
                 .li7{
                font-size:15px;
                font-weight:600;
                color:#313131;
                a{
                    margin-left:8px;
                }
            }
            }
        }
       
    }
    
}
/*...................bottom...........*/
.bottomnav{
        width:100%;
        height:40px;
        background:  #313131;;
        .dh{
            width:1190px;
            height:40px;
            margin:0 auto;
            background:  #313131;;
            
            ul{
                margin-left: 400px;
                li{
                    float:left;
                    line-height: 40px;
                    margin:0 3px;
                    a{
                        color:#fff;
                    }
                }
            }
        }
        
      } 
 
.bx{
    width:100%;
    height:40px;
   .bxcont{
       margin: 0 auto;
       width:1190px;
       height:50px;
    
       p{
           text-align: center;
           line-height: 50px;
           font-size:10px;
       }
   }
   p{
       padding:10px 0;
       font-size:8px;
   }
  .bottom{
       margin:0 auto;
       width:1190px;
       height:50px;
  
       overflow: hidden;
       ul{ 
          margin-left:220px;
           li{ 
               height:50px;
               float:left;
               padding:5px 5px;
               line-height:50px;
           }
       }
   } 
}
/*...................二级菜单...........*/
#classify{
    width:780px;
    height:490px;
    background:#fff;
    float:left;
    position: absolute;
    top:0;
    z-index:100;
    left:307px;
    display:none;
    #classifyleft{
        width:560px;
        height:490px;
        padding: 0 20px;
        float:left;
        z-index:999999999;
        ul{
            li{
                a{
                    color:#666;
                }
            }
            h3{
                 width:560px;
                 height:36px;
                 border-bottom:1px solid #000;
                 line-height:36px;
                 font-weight:600;
            }
        }
         ul:nth-of-type(1){
             width:560px;
             min-height: 30px;
             _height:30px;
             overflow: hidden;
            li{
            float:left;
            width:90px;
           
            padding:8px 0;
        }
    }
    ul:nth-of-type(2){
            width:560px;
            min-height:30px;
             _height:30px;
            overflow: hidden;
            li{
                float:left;
                width:90px;
                padding:8px 0;
            }
        
        
    }
    ul:nth-of-type(3){
        width:560px;
        min-height:130px;
        _height:130px;
         border-bottom:1px dashed #eee;
        li{
            float:left;
            width:90px;
           padding:8px 0;
           
        }
    }
  }
   #classifyright{
      width:180px;
      height:490px;
   
      float:right;
      z-index:999999999;
      dl{
          dt{
              height:36px;
              line-height: 36px;
              text-align: center;
              color:#666;
            
          }
      }
   }    
}