@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

i, b, em, strong {
  font-style: normal; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "a";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.top-con {
  width: 1190px;
  height: 31px;
  margin: 0 auto;
  color: #7f7f7a; }
  .top-con span {
    float: left;
    line-height: 31px; }
    .top-con span em {
      padding-left: 5px; }
    .top-con span a {
      color: #e3393c;
      margin-left: 10px; }
  .top-con .dl {
    float: left;
    margin-left: 44px; }
    .top-con .dl li {
      float: left;
      line-height: 31px;
      padding: 0 8px; }
    .top-con .dl a {
      color: #7f7f7a; }
    .top-con .dl .dlzc span {
      width: 10px;
      margin-right: 8px; }
  .top-con .dh {
    float: right; }
    .top-con .dh li {
      float: left;
      line-height: 31px;
      padding: 0 8px;
      position: relative; }
    .top-con .dh li:nth-of-type(1):hover ol, .top-con .dh li:nth-of-type(5):hover ol, .top-con .dh li:nth-of-type(6):hover ol {
      display: none; }
    .top-con .dh li:nth-of-type(1) .tb, .top-con .dh li:nth-of-type(5) .tb, .top-con .dh li:nth-of-type(6) .tb {
      width: 0;
      height: 0;
      border-left: 4px transparent solid;
      border-right: 4px transparent solid;
      border-top: 7px solid #cecece;
      position: absolute;
      right: -3px;
      top: 12px; }
    .top-con .dh a {
      color: #7f7f7a; }
    .top-con .dh #ol1 {
      width: 100px;
      position: absolute;
      display: none; }
      .top-con .dh #ol1 li {
        width: 100px; }
  .top-con li:nth-of-type(3) {
    position: relative; }
    .top-con li:nth-of-type(3) b {
      position: absolute;
      display: none; }
  .top-con li:nth-of-type(4) {
    position: relative; }
    .top-con li:nth-of-type(4) div {
      display: none;
      position: absolute;
      width: 90px;
      padding: 10px; }
      .top-con li:nth-of-type(4) div h3 {
        text-align: center;
        padding-top: 10px;
        line-height: 18px; }
      .top-con li:nth-of-type(4) div p {
        line-height: 18px;
        color: #e50112;
        width: 100px; }
  .top-con li:nth-of-type(5) {
    position: relative; }
    .top-con li:nth-of-type(5) ol {
      width: 110px;
      position: absolute;
      left: 0;
      display: none; }
  .top-con li:nth-of-type(6) {
    position: relative;
    overflow: hidden; }
    .top-con li:nth-of-type(6) div {
      width: 220px;
      background: #fff;
      top: 32px;
      left: 0;
      position: absolute;
      border-width: 1px 1px;
      padding: 5px 0px 0px;
      border-color: #fff;
      z-index: 200; }
      .top-con li:nth-of-type(6) div h3 {
        margin-top: 20px;
        color: #333333; }
      .top-con li:nth-of-type(6) div li {
        height: auto;
        width: 165px;
        padding: 6px 10px 8px;
        width: 160px;
        height: 80px;
        border-bottom: 1px solid #ededed; }
      .top-con li:nth-of-type(6) div .zl {
        width: 180px;
        line-height: 24px;
        overflow: hidden; }
        .top-con li:nth-of-type(6) div .zl a {
          height: 24px;
          text-align: left;
          width: 48px;
          margin-left: 10px;
          color: #999999;
          display: block;
          float: left;
          overflow: hidden; }
      .top-con li:nth-of-type(6) div .pp {
        width: 180px;
        line-height: 24px; }
        .top-con li:nth-of-type(6) div .pp a {
          height: 24px;
          text-align: left;
          width: 48px;
          margin-right: 10px;
          color: #999999;
          display: block;
          float: left;
          overflow: hidden; }
      .top-con li:nth-of-type(6) div .list2, .top-con li:nth-of-type(6) div .list4 {
        background: #f9f9f9; }
        .top-con li:nth-of-type(6) div .list2 a, .top-con li:nth-of-type(6) div .list4 a {
          background: #f9f9f9; }
      .top-con li:nth-of-type(6) div .other a {
        height: 24px;
        text-align: left;
        margin-right: 5px;
        color: #999999;
        display: block;
        float: left;
        overflow: hidden; }

/*...................dt................*/
.dt {
  width: 100%;
  min-height: 90px;
  background: pink; }

.dtcont {
  min-height: 90px;
  background: url(../images/dt.jpg) no-repeat center;
  margin: 0 auto; }
  .dtcont img {
    display: block;
    height: 100%;
    width: 100%; }

/*...................header................*/
.header {
  width: 100%;
  min-height: 120px;
  background: #fff; }

.headercont {
  margin: 0 auto;
  width: 1190px;
  height: 90px;
  padding-top: 30px; }
  .headercont .hotsearch {
    width: 595px;
    height: 20px;
    color: #999;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 20px; }
    .headercont .hotsearch a {
      margin-right: 10px; }
    .headercont .hotsearch .active {
      color: red; }
  .headercont div:nth-of-type(1) {
    float: left; }
  .headercont div:nth-of-type(2) {
    float: left;
    margin-left: 12px; }
  .headercont div:nth-of-type(3) {
    float: left;
    position: relative;
    left: 20px;
    width: 590px;
    height: 36px;
    background: #fff;
    margin-bottom: 4px;
    position: relative;
    border: 2px solid #dd0207; }
    .headercont div:nth-of-type(3) .searchcont label {
      width: 56px;
      height: 36px;
      float: left;
      background: #dd0207;
      text-align: center;
      line-height: 34px;
      position: relative;
      padding-right: 5px; }
      .headercont div:nth-of-type(3) .searchcont label .tb {
        float: left;
        width: 0;
        height: 0;
        border-left: 4px transparent solid;
        border-right: 4px transparent solid;
        border-top: 7px solid #cecece;
        position: absolute;
        left: 45px;
        top: 15px; }
    .headercont div:nth-of-type(3) .searchcont ul {
      display: none;
      position: absolute;
      top: 35px;
      left: 15px; }
    .headercont div:nth-of-type(3) .searchcont .searchbox {
      width: 450px;
      height: 34px;
      padding-left: 12px;
      left: 59px;
      background-color: #fff;
      line-height: 34px;
      color: #333333;
      font-size: 12px;
      border-right: 0;
      border: 0; }
    .headercont div:nth-of-type(3) .searchcont .subbox {
      background: #dd0207;
      width: 67px;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
      line-height: 35px;
      border: none;
      border-left: 1px solid #f45670;
      float: right; }
  .headercont div:nth-of-type(4) {
    float: right; }

/*...................nav................*/
.nav {
  width: 100%;
  height: 35px; }

.navcon {
  width: 1190px;
  height: 35px;
  margin: 0 auto;
  background: #eee; }
  .navcon .qbsp {
    background: #dd0207;
    width: 200px;
    height: 37px;
    float: left;
    position: absolute;
    z-index: 999; }
    .navcon .qbsp .qbspimg {
      display: block;
      color: #fff;
      width: 156px;
      height: 35px;
      margin-left: 14px;
      padding-left: 30px;
      line-height: 35px;
      background: url(../images/tb1.png) no-repeat left center; }
    .navcon .qbsp .navlist {
      display: none;
      width: 201px;
      height: 490px;
      background: #3d4851; }
      .navcon .qbsp .navlist .item {
        width: 185px;
        height: 80px;
        padding-left: 16px;
        border-bottom: 1px solid #323b42; }
        .navcon .qbsp .navlist .item a {
          color: #fff; }
        .navcon .qbsp .navlist .item h3 {
          font-size: 14px;
          font-weight: 600;
          padding: 5px 0 12px;
          height: 30px; }
          .navcon .qbsp .navlist .item h3 a {
            display: block;
            height: 30px;
            line-height: 30px; }
            .navcon .qbsp .navlist .item h3 a .iconfont {
              font-size: 30px;
              line-height: 30px; }
        .navcon .qbsp .navlist .item p a {
          padding: 0px 4px;
          font-size: 13px; }
        .navcon .qbsp .navlist .item p .tyd {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .mksw {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .mdl {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .ts {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .wly {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .mt {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
  .navcon .navcl {
    width: 990px;
    height: 35px;
    float: right;
    overflow: hidden; }
    .navcon .navcl ul {
      line-height: 35px;
      width: 990px;
      height: 35px; }
      .navcon .navcl ul li:nth-child(1) {
        margin-left: 50px; }
      .navcon .navcl ul li {
        float: left;
        margin-right: 78px; }
        .navcon .navcl ul li a {
          width: 100px;
          height: 20px;
          font-size: 15px;
          color: #373a40; }

/*# sourceMappingURL=head.css.map */
