@charset "UTF-8";
body, ul, li, dl, dt, dd, p, ol, h1, h2, h3, h4, h5, h6, form, img, table, fieldset, legend {
  margin: 0;
  padding: 0; }

ul, li, ol {
  list-style: none; }

img, fieldset {
  border: 0; }

img {
  display: block; }

a {
  text-decoration: none;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

body {
  font-size: 12px;
  font-family: "微软雅黑"; }

input, a {
  outline: none; }

i, b, em, strong {
  font-style: normal; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: "a";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both; }

.top {
  width: 100%;
  height: 31px;
  background: #f5f4f4;
  border-bottom: 1px solid #e6e6e6; }

.top-con {
  width: 1190px;
  height: 31px;
  margin: 0 auto;
  color: #7f7f7a; }
  .top-con span {
    float: left;
    line-height: 31px; }
    .top-con span em {
      padding-left: 5px; }
    .top-con span a {
      color: #e3393c;
      margin-left: 10px; }
  .top-con .dl {
    float: left;
    margin-left: 44px; }
    .top-con .dl li {
      float: left;
      line-height: 31px;
      padding: 0 8px; }
    .top-con .dl a {
      color: #7f7f7a; }
    .top-con .dl .dlzc span {
      width: 10px;
      margin-right: 8px; }
  .top-con .dh {
    float: right; }
    .top-con .dh li {
      float: left;
      line-height: 31px;
      padding: 0 8px;
      position: relative; }
    .top-con .dh li:nth-of-type(1):hover ol, .top-con .dh li:nth-of-type(5):hover ol, .top-con .dh li:nth-of-type(6):hover ol {
      display: none; }
    .top-con .dh li:nth-of-type(1) .tb, .top-con .dh li:nth-of-type(5) .tb, .top-con .dh li:nth-of-type(6) .tb {
      width: 0;
      height: 0;
      border-left: 4px transparent solid;
      border-right: 4px transparent solid;
      border-top: 7px solid #cecece;
      position: absolute;
      right: -3px;
      top: 12px; }
    .top-con .dh a {
      color: #7f7f7a; }
    .top-con .dh #ol1 {
      width: 100px;
      position: absolute;
      display: none; }
      .top-con .dh #ol1 li {
        width: 100px; }
  .top-con li:nth-of-type(3) {
    position: relative; }
    .top-con li:nth-of-type(3) b {
      position: absolute;
      display: none; }
  .top-con li:nth-of-type(4) {
    position: relative; }
    .top-con li:nth-of-type(4) div {
      display: none;
      position: absolute;
      width: 90px;
      padding: 10px; }
      .top-con li:nth-of-type(4) div h3 {
        text-align: center;
        padding-top: 10px;
        line-height: 18px; }
      .top-con li:nth-of-type(4) div p {
        line-height: 18px;
        color: #e50112;
        width: 100px; }
  .top-con li:nth-of-type(5) {
    position: relative; }
    .top-con li:nth-of-type(5) ol {
      width: 110px;
      position: absolute;
      left: 0;
      display: none; }
  .top-con li:nth-of-type(6) {
    position: relative;
    overflow: hidden; }
    .top-con li:nth-of-type(6) div {
      width: 220px;
      background: #fff;
      top: 32px;
      left: 0;
      position: absolute;
      border-width: 1px 1px;
      padding: 5px 0px 0px;
      border-color: #fff;
      z-index: 200; }
      .top-con li:nth-of-type(6) div h3 {
        margin-top: 20px;
        color: #333333; }
      .top-con li:nth-of-type(6) div li {
        height: auto;
        width: 165px;
        padding: 6px 10px 8px;
        width: 160px;
        height: 80px;
        border-bottom: 1px solid #ededed; }
      .top-con li:nth-of-type(6) div .zl {
        width: 180px;
        line-height: 24px;
        overflow: hidden; }
        .top-con li:nth-of-type(6) div .zl a {
          height: 24px;
          text-align: left;
          width: 48px;
          margin-left: 10px;
          color: #999999;
          display: block;
          float: left;
          overflow: hidden; }
      .top-con li:nth-of-type(6) div .pp {
        width: 180px;
        line-height: 24px; }
        .top-con li:nth-of-type(6) div .pp a {
          height: 24px;
          text-align: left;
          width: 48px;
          margin-right: 10px;
          color: #999999;
          display: block;
          float: left;
          overflow: hidden; }
      .top-con li:nth-of-type(6) div .list2, .top-con li:nth-of-type(6) div .list4 {
        background: #f9f9f9; }
        .top-con li:nth-of-type(6) div .list2 a, .top-con li:nth-of-type(6) div .list4 a {
          background: #f9f9f9; }
      .top-con li:nth-of-type(6) div .other a {
        height: 24px;
        text-align: left;
        margin-right: 5px;
        color: #999999;
        display: block;
        float: left;
        overflow: hidden; }

/*...................dt................*/
.dt {
  width: 100%;
  min-height: 90px;
  background: pink; }

.dtcont {
  min-height: 90px;
  background: url(../images/dt.jpg) no-repeat center;
  margin: 0 auto; }
  .dtcont img {
    display: block;
    height: 100%;
    width: 100%; }

/*...................header................*/
.header {
  width: 100%;
  min-height: 120px;
  background: #fff; }

.headercont {
  margin: 0 auto;
  width: 1190px;
  height: 90px;
  padding-top: 30px; }
  .headercont .hotsearch {
    width: 595px;
    height: 20px;
    color: #999;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 20px; }
    .headercont .hotsearch a {
      margin-right: 10px; }
    .headercont .hotsearch .active {
      color: red; }
  .headercont div:nth-of-type(1) {
    float: left; }
  .headercont div:nth-of-type(2) {
    float: left;
    margin-left: 12px; }
  .headercont div:nth-of-type(3) {
    float: left;
    position: relative;
    left: 20px;
    width: 590px;
    height: 36px;
    background: #fff;
    margin-bottom: 4px;
    position: relative;
    border: 2px solid #dd0207; }
    .headercont div:nth-of-type(3) .searchcont label {
      width: 56px;
      height: 36px;
      float: left;
      background: #dd0207;
      text-align: center;
      line-height: 34px;
      position: relative;
      padding-right: 5px; }
      .headercont div:nth-of-type(3) .searchcont label .tb {
        float: left;
        width: 0;
        height: 0;
        border-left: 4px transparent solid;
        border-right: 4px transparent solid;
        border-top: 7px solid #cecece;
        position: absolute;
        left: 45px;
        top: 15px; }
    .headercont div:nth-of-type(3) .searchcont ul {
      display: none;
      position: absolute;
      top: 35px;
      left: 15px; }
    .headercont div:nth-of-type(3) .searchcont .searchbox {
      width: 450px;
      height: 34px;
      padding-left: 12px;
      left: 59px;
      background-color: #fff;
      line-height: 34px;
      color: #333333;
      font-size: 12px;
      border-right: 0;
      border: 0; }
    .headercont div:nth-of-type(3) .searchcont .subbox {
      background: #dd0207;
      width: 67px;
      font-size: 15px;
      color: #fff;
      cursor: pointer;
      line-height: 35px;
      border: none;
      border-left: 1px solid #f45670;
      float: right; }
  .headercont div:nth-of-type(4) {
    float: right; }

/*...................nav................*/
.nav {
  width: 100%;
  height: 35px; }

.navcon {
  width: 1190px;
  height: 35px;
  margin: 0 auto;
  background: #eee; }
  .navcon .qbsp {
    background: #dd0207;
    width: 200px;
    height: 37px;
    float: left;
    position: absolute;
    z-index: 999; }
    .navcon .qbsp .qbspimg {
      display: block;
      color: #fff;
      width: 156px;
      height: 35px;
      margin-left: 14px;
      padding-left: 30px;
      line-height: 35px;
      background: url(../images/tb1.png) no-repeat left center; }
    .navcon .qbsp .navlist {
      width: 201px;
      height: 490px;
      background: #3d4851; }
      .navcon .qbsp .navlist .item {
        width: 185px;
        height: 80px;
        padding-left: 16px;
        border-bottom: 1px solid #323b42; }
        .navcon .qbsp .navlist .item a {
          color: #fff; }
        .navcon .qbsp .navlist .item h3 {
          font-size: 14px;
          font-weight: 600;
          padding: 5px 0 12px;
          height: 30px; }
          .navcon .qbsp .navlist .item h3 a {
            display: block;
            height: 30px;
            line-height: 30px; }
            .navcon .qbsp .navlist .item h3 a .iconfont {
              font-size: 30px;
              line-height: 30px; }
        .navcon .qbsp .navlist .item p a {
          padding: 0px 4px;
          font-size: 13px; }
        .navcon .qbsp .navlist .item p .tyd {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .mksw {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .mdl {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .ts {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .wly {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
        .navcon .qbsp .navlist .item p .mt {
          background: #fff;
          border-radius: 2px;
          color: #000000; }
  .navcon .navcl {
    width: 990px;
    height: 35px;
    float: right;
    overflow: hidden; }
    .navcon .navcl ul {
      line-height: 35px;
      width: 990px;
      height: 35px; }
      .navcon .navcl ul li:nth-child(1) {
        margin-left: 50px; }
      .navcon .navcl ul li {
        float: left;
        margin-right: 78px; }
        .navcon .navcl ul li a {
          width: 100px;
          height: 20px;
          font-size: 15px;
          color: #373a40; }

/*...................navlist................*/
.banner {
  width: 100%;
  height: 490px;
  position: relative; }
  .banner .bannerbox .small-banner .img1 {
    vertical-align: top;
    opacity: .9;
    filter: alpha(opacity=9);
    width: 200px;
    height: 243px;
    position: absolute;
    top: 0;
    right: 204px;
    z-index: 100; }
  .banner .bannerbox .small-banner .img2 {
    vertical-align: top;
    opacity: .9;
    filter: alpha(opacity=9);
    width: 200px;
    height: 243px;
    position: absolute;
    top: 247px;
    right: 204px;
    z-index: 100; }
  .banner .bannerbox ol {
    position: absolute;
    right: 40%;
    bottom: 10px;
    width: 190px; }
    .banner .bannerbox ol li {
      float: left;
      width: 20px;
      height: 20px;
      margin: 0 5px;
      text-align: center;
      border-radius: 50%;
      cursor: default;
      background-color: #fff; }
  .banner .bannerbox .bannerimg {
    width: 100%;
    height: 490px;
    position: relative; }
    .banner .bannerbox .bannerimg img {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute; }

/*...................content................*/
.content {
  width: 100%;
  min-height: 530px; }

.rxbk {
  overflow: hidden;
  width: 1206px;
  margin: 0 auto;
  margin-top: 20px; }
  .rxbk .bknav {
    height: 50px;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    margin-bottom: 4px;
    margin-top: 10px; }
    .rxbk .bknav ul {
      height: 50px;
      line-height: 40px;
      font-size: 16px; }
      .rxbk .bknav ul .bk {
        float: left;
        border-top: 2px solid #cc0000;
        border-bottom: 0;
        border-right: 1px solid #ececec;
        border-left: 1px solid #ececec;
        height: 40px;
        color: #cc0000;
        line-height: 35px;
        width: 185px;
        text-align: center; }
      .rxbk .bknav ul .gd {
        float: right;
        line-height: 30px; }
        .rxbk .bknav ul .gd a {
          color: #666; }
  .rxbk ul {
    overflow: hidden;
    margin-bottom: 30px; }
    .rxbk ul li {
      float: left;
      margin-top: 10px;
      margin-right: 10px;
      background: #fff;
      border-bottom: 0;
      z-index: 4; }
    .rxbk ul li:last-of-type {
      margin-right: 0px; }

/*...................floor................*/
.floorbox {
  width: 100%;
  min-height: 600px;
  background: pink; }
  .floorbox .floor {
    margin: 0 auto;
    width: 1190px;
    min-height: 450px; }
    .floorbox .floor .floor-ht {
      width: 1190px;
      min-height: 32px;
      border-bottom: 1px solid #c9c9c9;
      margin-bottom: 4px; }
      .floorbox .floor .floor-ht h3 {
        height: 18px;
        width: 20%;
        float: left;
        line-height: 18px;
        color: #3d4048;
        font-size: 16px;
        border-left: 4px solid #f00f34;
        padding-left: 12px;
        font-weight: bold; }
      .floorbox .floor .floor-ht ul {
        float: right;
        line-height: 32px;
        margin-right: 20px; }
        .floorbox .floor .floor-ht ul li {
          float: left;
          margin-left: 50px;
          font-size: 16px;
          color: #2c2c2c;
          cursor: pointer;
          /* max-width: 100px; */
          height: 32px;
          position: relative; }
        .floorbox .floor .floor-ht ul li:nth-child(1) s {
          background: url(../images/himall_web_add.png) no-repeat;
          width: 10px;
          height: 6px;
          position: absolute;
          top: 27px;
          right: 42%; }
    .floorbox .floor .leftside {
      width: 230px;
      min-height: 450px;
      background: orange;
      float: left; }
      .floorbox .floor .leftside .bjt1 {
        position: relative; }
        .floorbox .floor .leftside .bjt1 .city {
          width: 186px;
          min-height: 98px;
          margin: 23px;
          position: absolute;
          top: 160px;
          left: 0; }
          .floorbox .floor .leftside .bjt1 .city li {
            line-height: 24px; }
          .floorbox .floor .leftside .bjt1 .city li:nth-of-type(2) {
            margin-left: 20px; }
          .floorbox .floor .leftside .bjt1 .city li:nth-of-type(4) {
            margin-left: 20px; }
        .floorbox .floor .leftside .bjt1 .smalllogo {
          width: 220px;
          min-height: 150px;
          position: absolute;
          bottom: 0;
          left: 0;
          padding-left: 10px; }
          .floorbox .floor .leftside .bjt1 .smalllogo li {
            float: left;
            margin: 3px 3px; }
    .floorbox .floor .centerimg {
      width: 470px;
      height: 450px;
      background: blue;
      float: left;
      margin-left: 5px; }
      .floorbox .floor .centerimg img {
        width: 100%;
        height: 100%; }
    .floorbox .floor .rightimg {
      width: 480px;
      height: 450px;
      float: right; }
      .floorbox .floor .rightimg ul {
        margin-left: 5px; }
        .floorbox .floor .rightimg ul li {
          float: left; }
        .floorbox .floor .rightimg ul li:nth-of-type(1), .floorbox .floor .rightimg ul li:nth-of-type(3) {
          padding-right: 5px; }
        .floorbox .floor .rightimg ul li:nth-of-type(3), .floorbox .floor .rightimg ul li:nth-of-type(4) {
          margin-top: 4px; }
    .floorbox .floor .bottomimg ul li {
      float: left;
      margin-top: 10px;
      margin-bottom: 30px; }
    .floorbox .floor .bottomimg ul li:nth-of-type(2), .floorbox .floor .bottomimg ul li:nth-of-type(3) {
      margin: 10px 5px; }

/*...................旗舰店............*/
.qjd {
  width: 100%;
  min-height: 350px;
  _height: 300px; }
  .qjd .qjdcont {
    margin: 0 auto;
    width: 1190px;
    min-height: 300px;
    background: yellow; }
    .qjd .qjdcont .qjdleft {
      width: 280px;
      min-height: 300px;
      background: pink;
      float: left; }
    .qjd .qjdcont .qjdcenter {
      width: 630px;
      min-height: 345px;
      float: left;
      border-top: 2px solid #f3f3f3;
      border-bottom: 2px solid #f3f3f3; }
      .qjd .qjdcont .qjdcenter b {
        background: url(../images/tb1.png) no-repeat center;
        width: 10px;
        height: 20px; }
      .qjd .qjdcont .qjdcenter b:nth-child(5) {
        background: none; }
      .qjd .qjdcont .qjdcenter ul {
        overflow: hidden;
        margin: 36px; }
        .qjd .qjdcont .qjdcenter ul li:nth-of-type(5) {
          background: none; }
        .qjd .qjdcont .qjdcenter ul li {
          float: left;
          width: 110px;
          height: 80px; }
          .qjd .qjdcont .qjdcenter ul li a {
            width: 111px;
            height: 62px;
            margin-top: 20px;
            display: inline-block;
            background: url(../images/brand_03.png) no-repeat right center; }
            .qjd .qjdcont .qjdcenter ul li a img {
              width: 100px;
              height: 50px;
              margin: 6px auto; }
    .qjd .qjdcont .qjdright {
      width: 280px;
      min-height: 350px;
      background: lightblue;
      float: right; }

/*...................ensure...........*/
.ensure {
  width: 100%;
  height: 108px;
  border-bottom: 1px solid #d6d6d6;
  background: #f8f8f8; }
  .ensure .ensurecont {
    width: 1190px;
    height: 108px;
    margin: 0 auto; }
    .ensure .ensurecont dl {
      width: 166px;
      height: 45px;
      padding-top: 33px;
      margin-right: 30px;
      float: left; }
      .ensure .ensurecont dl dd:nth-of-type(1) {
        font-size: 16px;
        color: #313131;
        padding-bottom: 2px; }
      .ensure .ensurecont dl dt {
        float: left;
        width: 55px;
        height: 40px;
        background: url(../images/icon1.png) no-repeat 0 -37px; }
        .ensure .ensurecont dl dt dd {
          float: left; }
    .ensure .ensurecont dl:nth-of-type(2) dt {
      background: url(../images/icon1.png) no-repeat -57px -37px; }
    .ensure .ensurecont dl:nth-of-type(3) dt {
      background: url(../images/icon1.png) no-repeat -125px -37px; }
    .ensure .ensurecont dl:nth-of-type(4) dt {
      background: url(../images/icon1.png) no-repeat -181px -37px; }
    .ensure .ensurecont dl:nth-of-type(5) dt {
      background: url(../images/icon1.png) no-repeat -241px -37px; }
    .ensure .ensurecont dl:nth-of-type(6) dt {
      background: url(../images/icon1.png) no-repeat -301px -37px; }

/*...................footer...........*/
.footer {
  width: 100%;
  min-height: 230px;
  _height: 230px; }
  .footer .footernav {
    width: 1190px;
    min-height: 240px;
    background: #f3f3f3;
    margin: 0 auto; }
    .footer .footernav dl {
      width: 120px;
      height: 180px;
      background: blue;
      float: left;
      margin-top: 20px; }
      .footer .footernav dl dd {
        width: 100px;
        height: 40px; }
      .footer .footernav dl dd:nth-of-type(1) {
        width: 110px;
        height: 40px;
        background: url(../images/icon1.png) no-repeat 0 -92px; }
      .footer .footernav dl dd:nth-of-type(2) {
        background: url(../images/icon1.png) no-repeat -111px -92px; }
      .footer .footernav dl dd:nth-of-type(3) {
        background: url(../images/icon1.png) no-repeat -246px -92px; }
    .footer .footernav .rightnav {
      width: 1050px;
      height: 180px;
      background: orange;
      padding-top: 20px;
      margin-left: 20px;
      float: left; }
      .footer .footernav .rightnav ul li {
        font-size: 12px;
        height: 30px;
        line-height: 30px;
        margin: 0 30px; }
        .footer .footernav .rightnav ul li a {
          color: #666; }
      .footer .footernav .rightnav ul:nth-of-type(1) {
        float: left; }
        .footer .footernav .rightnav ul:nth-of-type(1) li:nth-of-type(1) {
          font-size: 15px;
          font-weight: 600; }
      .footer .footernav .rightnav ul:nth-of-type(2) {
        float: left; }
        .footer .footernav .rightnav ul:nth-of-type(2) li:nth-of-type(1) {
          font-size: 15px;
          font-weight: 600; }
      .footer .footernav .rightnav ul:nth-of-type(3) {
        float: left; }
        .footer .footernav .rightnav ul:nth-of-type(3) li:nth-of-type(1) {
          font-size: 15px;
          font-weight: 600; }
      .footer .footernav .rightnav ul:nth-of-type(4) {
        float: left; }
        .footer .footernav .rightnav ul:nth-of-type(4) li:nth-of-type(1) {
          font-size: 15px;
          font-weight: 600; }
      .footer .footernav .rightnav ul:nth-of-type(5) {
        float: left; }
        .footer .footernav .rightnav ul:nth-of-type(5) li:nth-of-type(1) {
          font-size: 16px;
          font-weight: 600; }
      .footer .footernav .rightnav ul:nth-of-type(6) {
        float: left;
        height: 100px; }
        .footer .footernav .rightnav ul:nth-of-type(6) li:nth-of-type(1) {
          font-size: 15px;
          font-weight: 600; }
          .footer .footernav .rightnav ul:nth-of-type(6) li:nth-of-type(1) a {
            margin-left: 8px; }
      .footer .footernav .rightnav ul:nth-of-type(7) {
        float: left;
        width: 100px;
        height: 100px; }
        .footer .footernav .rightnav ul:nth-of-type(7) .li7 {
          font-size: 15px;
          font-weight: 600;
          color: #313131; }
          .footer .footernav .rightnav ul:nth-of-type(7) .li7 a {
            margin-left: 8px; }

/*...................bottom...........*/
.bottomnav {
  width: 100%;
  height: 40px;
  background: #313131; }
  .bottomnav .dh {
    width: 1190px;
    height: 40px;
    margin: 0 auto;
    background: #313131; }
    .bottomnav .dh ul {
      margin-left: 400px; }
      .bottomnav .dh ul li {
        float: left;
        line-height: 40px;
        margin: 0 3px; }
        .bottomnav .dh ul li a {
          color: #fff; }

.bx {
  width: 100%;
  height: 40px; }
  .bx .bxcont {
    margin: 0 auto;
    width: 1190px;
    height: 50px;
    background: pink; }
    .bx .bxcont p {
      text-align: center;
      line-height: 50px; }
  .bx p {
    padding: 10px 0; }
  .bx .bottom {
    margin: 0 auto;
    width: 1190px;
    height: 50px;
    background: red;
    overflow: hidden; }
    .bx .bottom ul {
      margin-left: 220px; }
      .bx .bottom ul li {
        height: 50px;
        float: left;
        padding: 5px 5px;
        line-height: 50px; }

/*...................二级菜单...........*/
#classify {
  width: 780px;
  height: 490px;
  background: #fff;
  float: left;
  position: absolute;
  top: 0;
  z-index: 100;
  left: 307px;
  display: none; }
  #classify #classifyleft {
    width: 560px;
    height: 490px;
    padding: 0 20px;
    float: left;
    z-index: 999999999; }
    #classify #classifyleft ul li a {
      color: #666; }
    #classify #classifyleft ul h3 {
      width: 560px;
      height: 36px;
      border-bottom: 1px solid #000;
      line-height: 36px;
      font-weight: 600; }
    #classify #classifyleft ul:nth-of-type(1) {
      width: 560px;
      min-height: 30px;
      _height: 30px;
      overflow: hidden; }
      #classify #classifyleft ul:nth-of-type(1) li {
        float: left;
        width: 90px;
        padding: 8px 0; }
    #classify #classifyleft ul:nth-of-type(2) {
      width: 560px;
      min-height: 30px;
      _height: 30px;
      overflow: hidden; }
      #classify #classifyleft ul:nth-of-type(2) li {
        float: left;
        width: 90px;
        padding: 8px 0; }
    #classify #classifyleft ul:nth-of-type(3) {
      width: 560px;
      min-height: 130px;
      _height: 130px;
      border-bottom: 1px dashed #eee; }
      #classify #classifyleft ul:nth-of-type(3) li {
        float: left;
        width: 90px;
        padding: 8px 0; }
  #classify #classifyright {
    width: 180px;
    height: 490px;
    background: #eee;
    float: right;
    z-index: 999999999; }
    #classify #classifyright dl dt {
      height: 36px;
      line-height: 36px;
      text-align: center;
      color: #666; }

/*...................侧栏...........*/
#sideleftbox {
  width: 40px;
  height: 100%;
  background: #313131;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100; }
  #sideleftbox ul {
    z-index: 120; }
    #sideleftbox ul li:nth-of-type(1) {
      border-bottom: 1px solid #eee; }
    #sideleftbox ul li:nth-of-type(5) {
      border-bottom: 1px solid #eee; }
    #sideleftbox ul li:nth-of-type(2) {
      height: 150px;
      width: 30px;
      margin-left: 3px; }
    #sideleftbox ul li {
      width: 40px;
      height: 30px;
      color: #fff;
      position: relative;
      top: 200px;
      right: 0;
      margin-bottom: 10px;
      text-align: center; }
      #sideleftbox ul li i {
        line-height: 30px; }
      #sideleftbox ul li span {
        width: 75px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background: yellowgreen;
        z-index: 999;
        font-size: 12px;
        display: none;
        position: absolute;
        left: -45;
        top: 0; }
  #sideleftbox .activeLi {
    background: red; }

/*...................楼层...........*/
#lc {
  width: 37px;
  height: 160px;
  display: none;
  position: fixed;
  left: 50px;
  top: 50%; }
  #lc ul {
    text-align: center; }
    #lc ul li {
      position: relative;
      width: 37px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px dashed #eee; }
      #lc ul li span {
        position: absolute;
        left: 0;
        top: 0;
        width: 37px;
        height: 40px;
        line-height: 40px;
        display: none;
        z-index: 5;
        background: red; }
    #lc ul li:nth-of-type(1) {
      background: red; }
    #lc ul li:nth-of-type(4) {
      border: 0; }

/*# sourceMappingURL=index2.css.map */
