@import "public.scss";
.top{
    width:100%;
    height: 31px;
    background:#f5f4f4;
    border-bottom: 1px solid #e6e6e6;
    
}
.top-con{
    width:1190px;
    height:31px;
    margin:0 auto;
  
    color:#7f7f7a;
    span{
        float:left;
        line-height: 31px;
        em{
            padding-left: 5px;
        }
        a{
           color:#e3393c;
           margin-left: 10px; 
        }
    }
    .dl{
        float:left;
        
        margin-left: 44px;
        
        li{
            float:left;
            line-height: 31px;
            padding:0 8px;
            
        }
            a{
                color:#7f7f7a;
            }
        .dlzc span{
           width:10px;
           margin-right: 8px;
        }
    }
    .dh{ 
        float:right;
        li{
            float:left;
            line-height: 31px;
            padding:0 8px;
            position: relative;
            
        }
        li:nth-of-type(1),li:nth-of-type(5),li:nth-of-type(6){
            &:hover{
                
                ol{
                    display: none;
                }
            }
            
            .tb {
              width: 0;
              height: 0;
              border-left: 4px transparent solid;
              border-right: 4px transparent solid;
              border-top: 7px solid #cecece;
              position: absolute;
              right: -3px;
              top: 12px; }
 
        }
        
        a{
           color:#7f7f7a; 
        }
        #ol1{
            width:100px;
            position: absolute;
            display: none;
            li{
                width:100px;
            }
        }
    }
        li:nth-of-type(3){
        position:relative;
        b {
            position: absolute;
            display: none;
        }
        &:hover{
            
        }
    }
    li:nth-of-type(4){
        position: relative;
        div{
            display:none;
            position: absolute;
            width:90px;
            padding:10px;
            h3{text-align: center;
                padding-top: 10px;
                line-height: 18px;
                
            }
            p{
                line-height: 18px;
                color:#e50112;
                width:100px;
            }
            
        }
    }
    li:nth-of-type(5){
        position: relative;
        ol{
            width:110px;
            position: absolute;
            left :0;
          display: none; 
        }
    }
    li:nth-of-type(6){
        position: relative;
//      overflow: hidden;
        //&:hover{
            //div{
           //     display: block;
           // }
        //}
        div{
           display: none;
           
            top:32px;
            left:0;
            position: absolute;
            height: 48px;
            border-width: 1px 1px;
            padding: 5px 0px 0px;
            border-color: red;
            
            h3{
                
                color:#333333;
            };
            li{
                height: auto;
                width: 165px;
                padding: 6px 20px 8px;
                width:160px;
                height:80px;
                border-bottom: 1px solid #ededed;
                
            }
            .zl{
                 width: 180px;
                 line-height: 24px;
                 overflow: hidden;
                a{
                    height: 24px;
                    text-align: left;
                    width: 48px;
                    margin-right: 10px;
                    color: rgb(153, 153, 153);
                    display: block;
                    float: left;
                    overflow: hidden;
                }
            }
            .pp{
                width: 180px;
                line-height: 24px;
                
                a{
                    height: 24px;
                    text-align: left;
                    width: 48px;
                    margin-right: 10px;
                    color: #999999;
                    display: block;
                    float: left;
                    overflow: hidden;
                }
            }
            .list2,.list4{
                background:#f9f9f9;
            }
            .other{
                a{
                    height: 24px;
                    text-align: left;
                    width: 55px;
                    margin-right: 10px;
                    color: #999999;
                    display: block;
                    float: left;
                    overflow: hidden;
                }
            }
            
        }
    }
}
/*...................dt................*/
.dt{
    width: 100%;
    height:90px;
    background: pink;  
}
.dtcont{
        height:90px;
        background: url(../images/dt.jpg) no-repeat center;
        margin:0 auto;
        img{
            display: block;
            height:100%;
            width:100%;
        }
    }
/*...................header................*/
.header{
    width:100%;
    height:120px;
    background:#fff;
}
.headercont{
    margin:0 auto;
    width:1190px;
    height:90px;
    padding-top: 30px;
    .hotsearch{
                width:595px;
                height: 20px;
                color: #999;
                overflow: hidden;
                margin-top: 5px;
                padding-left: 20px;
             a{
                 margin-right: 10px;
             } 
             .active{
                 color:red;
             } 
        }  
    div:nth-of-type(1){
       float:left; 
    }
    div:nth-of-type(2){
        
       float:left; 
       margin-left: 12px;
    }
    div:nth-of-type(3){
        
       float:left; 
       position:relative;
       left:20px;
       width: 590px;
       height:36px;
       background: #fff;
       margin-bottom: 4px;
       position: relative;
       border: 2px solid #dd0207;
     
      .searchcont{
         
          label{
              width:56px;
              height:36px;
              float:left;
              background: #dd0207;
              text-align: center;
              line-height: 34px;
              position: relative;
              padding-right: 5px;
              
                 .tb{
              float:left;
              width: 0;
              height: 0;
              border-left: 4px transparent solid;
              border-right: 4px transparent solid;
              border-top: 7px solid #cecece;
              position: absolute;
              left:45px;
              top:15px; 
               }         
          }
          ul{
              display: none;
              position:absolute;
              top:35px;
              left:15px;
          }
          .searchbox{
              
                width: 450px;
                height: 34px;
                padding-left: 12px;
                left: 59px;
                background-color: #fff;
                line-height: 34px;
                color: rgb(51, 51, 51);
                font-size: 12px;
                border-right: 0;
                border: 0;
                
          }
          .subbox{
                background: #dd0207;
                width: 67px;
                font-size: 15px;
                color: #fff;
                cursor: pointer;
                line-height: 35px;
                border: none;
                border-left: 1px solid #f45670;
                float: right;
          }
      } 
    }
    div:nth-of-type(4){  
       float:right; 
    }
}
/*...................nav................*/
.nav{
    width:100%;
    height:35px;
}
.navcon{
    width:1190px;
    height:35px;
    margin:0 auto;
    background: #eee;
    .qbsp{
        background: #dd0207;
        width:200px;
        height: 37px;
        float:left;
        position: absolute;
         z-index: 999;
        .qbspimg{
            display: block;
            color: #fff;
            width:156px;
            height: 35px;
            margin-left: 14px;
            padding-left: 30px;
            line-height: 35px;
            background:url(../images/tb1.png) no-repeat left center; 
        }
        .navlist{
            //display:none;
           width:200px;
           height:490px;
           background: #3d4851;
               .item{
                    width:185px;
                    height:80px;
                    padding-left: 16px;
                    border-bottom: 1px solid #323b42;
                   
                      a{
                           color:#fff; 
                      }
                     h3{
                            font-size: 14px;
                            font-weight:600;
                            padding:5px 0 12px;
                            height:30px; 
                            a{
                                display: block;
                                height:30px;
                                line-height: 30px;
                                .iconfont{
                                    font-size:30px;
                                    line-height: 30px;       
                                }
                            }
                     }   
                     p{
                        a{
                            padding:0px 4px;
                            font-size: 13px;
                        }
                        .tyd{
                            background: #fff;
                            border-radius: 2px;
                            color:#000000;
                        }
                        .mksw{
                            background: #fff;
                            border-radius: 2px;
                            color:#000000;
                        }
                        .mdl{
                            background: #fff;
                            border-radius: 2px;
                            color:#000000;
                        }
                        .ts{
                            background: #fff;
                            border-radius: 2px;
                            color:#000000;
                        }
                        .wly{
                            background: #fff;
                            border-radius: 2px;
                            color:#000000;
                        }
                        .mt{
                            background: #fff;
                            border-radius: 2px;
                            color:#000000;
                        }
               
                     }
               }  
        } 
    }
    .navcl{
        width:990px;
        height:35px;
//      background: blue;
        float:right;
        overflow: hidden;
       
        ul{
           line-height:35px;
            width:990px;
            height:35px;
           
          li:nth-child(1){
              margin-left: 50px;
             
          }
            li{
               
                float:left;
                margin-right: 78px;
               // width:100px;
                //height:20px;
                //position: relative;
                
            a{
                width:100px;
                height:20px;
                font-size: 15px;
                color: #373a40;
    
            }
        }
        }
       
    }
}
/*...................navlist................*/
.banner{
    width:100%;
    height:490px;
    position: relative;

    .bannerbox{
    
        
         .small-banner .img1 {
                vertical-align: top;
                opacity: .9;
                filter: alpha(opacity=9);               
                width: 200px;
                height: 243px;
                position: absolute;
                top:0;
                right:204px;
                
        }
        
        .small-banner .img2 {
                vertical-align: top;
                opacity: .9;
                filter: alpha(opacity=9);
                width: 200px;
                height: 243px;
                position: absolute;
                top:247px;
                right:204px;
                
        }
        
        
        ol{
            position: absolute;
            right: 40%;
            bottom: 10px;
            width: 190px;
              li{
            float: left;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            text-align: center;
            border-radius: 50%;
            cursor: default;
            background-color: #fff;
            }
        }
       
         .bannerimg{
             z-index:99;
        width:100%;
        height:490px;
         position: relative;
        img{
            display: block;
            width:100%;
            height:100%;
            position:absolute;
        }
    }
    }
   
    
   
    
}
/*...................content................*/
.content{
    width:100%;
    min-height:530px;
}
.rxbk  {
    overflow: hidden;
    width: 1206px;  
    margin:0 auto;
    margin-top:20px;
    
    .bknav{
        
       
        height: 50px;
        border-bottom: 1px solid #c9c9c9;
        background-color: #fff;
        margin-bottom: 4px;
        margin-top:10px;
       

        ul{
            height:50px;
            line-height: 40px;
//          overflow:hidden;
            font-size: 16px;
            .bk{
                float:left; 
                border-top: 2px solid #cc0000;
                border-bottom: 0;
                border-right: 1px solid #ececec;
                border-left: 1px solid #ececec;
                height: 40px;
                color: #cc0000;
                line-height: 35px;
                width:185px;
                text-align: center;
            }
            .gd{
                float:right;
               
                line-height: 30px;
                    a{
                      color:#666;
                    }
            }
           }
      
      
    }
    ul{
        overflow: hidden;
        li{
            float:left;
            margin-top:10px;
            margin-right: 10px;
            background: #fff;
            border-bottom: 0;
            z-index: 4;
            
        }
        li:last-of-type{
            margin-right:0px;
        }
        margin-bottom:30px;
    }
}
/*...................floor................*/
.floor{
    width:100%;
    
    .floorbox{
        width: 1190px;
        margin:0 auto;
        
        .floor-hd{
        margin:0 auto;
        width: 1190px;
        height:32px;
        border-bottom: 1px solid #c9c9c9;
        background-color: #fff;
        margin-bottom: 4px;
        h3{
            height: 18px;
            width: 20%;
            float: left;
            line-height: 18px;
            color: #3d4048;
            font-size: 16px;
            border-left: 4px solid #f00f34;
            padding-left: 12px;
            font-weight: bold;
        }
        ul{
                float:right;
                line-height: 32px;
                 margin-right: 20px;
                 li{
                    float:left;
                    margin-left:50px;
                    font-size:16px;
                    color: #2c2c2c;
                    cursor: pointer;
                    /* max-width: 100px; */
                    height: 32px;
                    position: relative;                
                 }
                 li:nth-child(1){
                     s{
                        background: url(../images/himall_web_add.png) no-repeat;
                        width: 10px;
                        height: 6px;
                        position: absolute;
                        top: 27px;
                        right: 42%;
                                             }
                 }
        }
       
    }
    
  }
   .xz{
        width:1190px;
        background: pink;
        margin:0 auto;
        .xz-left{
            width:230px;
            height:450px;
            background: #eee;
            position: relative;
            .leftcont{
                width: 230px;
                height: 124px;
                position: absolute;
                left: 0;
                bottom: 185px;
                background: blue;
                table{
                        width: 186px;
                        height: 98px;
                        margin: 26px auto;
                       
                            a{
                                color: #292929;
                                font-size: 12px;
                            }
                        tr{
                            display: table-row;
                            vertical-align: inherit;
                            border-color: inherit;
                        }
                        td{
                            height: 24px;
                            width: 83px;
                            text-align: left;
                            /* line-height: 24px; */
                            float: left;
                            overflow: hidden;
                            text-indent:2;
                        }
                }
                .xlg{
                        width: 188px;
                        height: 142px;
                        float: left;
                        position: relative;
                        margin: 20px 0 0 0;
                        ul{
                           
                            li{
                                   float: left;
                                  
                                    margin:0  6px;
                                    margin-bottom: 6px;
                                    background: #fff;
                                
                                img{
                                        width: 90px;
                                        height: 45px;
                                        vertical-align: middle;
                                        display: inline;
                                      
                                                                    }
                            }
                        }
                }
            }
        }
    }  
}
